<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nikdudnik.orgutils</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C2B76BB-FC77-4300-B6F5-FF3A6CBF566A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>645568FB-082C-4D95-8285-F0CBE72DD1EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C20E460-1371-47ED-BCE3-AE2124CA5EDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85461616-3F0C-438C-97CD-51144124FE69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ED61926-822D-458B-BC3B-3B50CA963A9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63AA5FFE-23B2-488D-B358-A2BCF8BEEF72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3595BD0D-F024-449C-9C3C-83B868D6F8DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C06FD509-6717-4BCC-AD76-04C20F070CE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63AA5FFE-23B2-488D-B358-A2BCF8BEEF72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16B4F56A-3566-4C7A-BFA8-CFB1878A8F38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>645568FB-082C-4D95-8285-F0CBE72DD1EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ED61926-822D-458B-BC3B-3B50CA963A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E6724F4-E318-4CB4-A62C-67ACB179DDD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF8FF1C7-CFA3-4F1C-8862-B6C6AB8D8013</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85461616-3F0C-438C-97CD-51144124FE69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ED61926-822D-458B-BC3B-3B50CA963A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B97E86D8-1D80-42B8-8624-4D1DEF8D9253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E6724F4-E318-4CB4-A62C-67ACB179DDD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C2B76BB-FC77-4300-B6F5-FF3A6CBF566A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C20E460-1371-47ED-BCE3-AE2124CA5EDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3595BD0D-F024-449C-9C3C-83B868D6F8DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C06FD509-6717-4BCC-AD76-04C20F070CE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ED61926-822D-458B-BC3B-3B50CA963A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1CC94F1-8D77-49E7-958C-6AEE07FCA1D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ED61926-822D-458B-BC3B-3B50CA963A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF8FF1C7-CFA3-4F1C-8862-B6C6AB8D8013</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ED61926-822D-458B-BC3B-3B50CA963A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Dudnik</string>
	<key>description</key>
	<string>Add note or current Safari tab info to ~/Dropbox/org/refile.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Org Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>app</string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome.canary</string>
					<string>com.apple.Safari</string>
					<string>com.apple.mail</string>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B97E86D8-1D80-42B8-8624-4D1DEF8D9253</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
try
    tell application "Safari" 
		set theTitle to (get name of front document)
    		set theURL to (get URL of front document)
	end tell
	return theTitle &amp; "\n" &amp; theUrl
end try
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EF8FF1C7-CFA3-4F1C-8862-B6C6AB8D8013</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:app}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.apple.Safari</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7E6724F4-E318-4CB4-A62C-67ACB179DDD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
try
tell application "Mail"	set theSelectedMessages to selection	set the selectedMessage to item 1 of theSelectedMessages
	set the messageSubject to the subject of the selectedMessage
	set the messageSender to the sender of the selectedMessage	set the messageId to the message id of the selectedMessage
	return "📬 " &amp; messageSubject &amp; "\n" &amp; "From: " &amp; messageSender &amp; "\n" &amp; "message://" &amp; messageId
end tell
end try
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>645568FB-082C-4D95-8285-F0CBE72DD1EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:app}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.apple.mail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0C2B76BB-FC77-4300-B6F5-FF3A6CBF566A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:note}</string>
				<key>title</key>
				<string>Added to org</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>16B4F56A-3566-4C7A-BFA8-CFB1878A8F38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:file}</string>
				<key>filetext</key>
				<string>* TODO {var:note}
[{date: YYYY-MM-dd EEE HH:mm}]</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>63AA5FFE-23B2-488D-B358-A2BCF8BEEF72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
try
	tell application "Google Chrome"		set theTitle to get title of active tab of first window
		set theUrl to get URL of active tab of first window	end tell
	return theTitle &amp; "\n" &amp; theUrl
end try
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>85461616-3F0C-438C-97CD-51144124FE69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>note</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2ED61926-822D-458B-BC3B-3B50CA963A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:app}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.google.Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2C20E460-1371-47ED-BCE3-AE2124CA5EDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
try
	tell application "Google Chrome Canary"		set theTitle to get title of active tab of first window
		set theUrl to get URL of active tab of first window	end tell
	return theTitle &amp; "\n" &amp; theUrl
end try
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C06FD509-6717-4BCC-AD76-04C20F070CE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:app}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.google.Chrome.canary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3595BD0D-F024-449C-9C3C-83B868D6F8DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>org</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add note to refile.org</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1CC94F1-8D77-49E7-958C-6AEE07FCA1D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Org Utils is a workflow for adding links to web pages and e-mails to your orgmode's inbox file. Default file is ~/Dropbox/org/refile.org. Default shortcut is left control double tap. Supported apps are: Mail, Safari, Chrome, Chrome Canary. Bonus: "org" keyword for adding plain text notes.</string>
	<key>uidata</key>
	<dict>
		<key>0C2B76BB-FC77-4300-B6F5-FF3A6CBF566A</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>16B4F56A-3566-4C7A-BFA8-CFB1878A8F38</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>2C20E460-1371-47ED-BCE3-AE2124CA5EDB</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>2ED61926-822D-458B-BC3B-3B50CA963A9E</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>3595BD0D-F024-449C-9C3C-83B868D6F8DA</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>63AA5FFE-23B2-488D-B358-A2BCF8BEEF72</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>645568FB-082C-4D95-8285-F0CBE72DD1EC</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>7E6724F4-E318-4CB4-A62C-67ACB179DDD7</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>85461616-3F0C-438C-97CD-51144124FE69</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>B97E86D8-1D80-42B8-8624-4D1DEF8D9253</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C06FD509-6717-4BCC-AD76-04C20F070CE4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>C1CC94F1-8D77-49E7-958C-6AEE07FCA1D0</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>EF8FF1C7-CFA3-4F1C-8862-B6C6AB8D8013</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>file</key>
		<string>~/Dropbox/org/refile.org</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
